@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: linear-gradient(180deg, #0E1012 -50.62%, rgba(14, 16, 18, 0.00) 100%);
    font-family: 'Lato', sans-serif;
    position: absolute;
}

.frame60 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.reverse {
    display: flex;
    align-items: center;
    
}

.image_header {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: flex-start;
}

.vector {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 20px;
    list-style: none;
    text-decoration: none
}

.vector a{
    text-decoration: none
}

.vector img {
    display: flex;
    padding: 0;
}

.vector a {
    display: flex;
    color: #fff;
    align-items: center;
}

.frame44 {
    display: flex;
    align-items:center;

}

.search {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    list-style: none;
}

.btn-modal,
.lista-fav {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.perfil {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
    padding: 0 0;
    border-radius: 50%;
}

.modalContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: var(--neutral-700, #101116);
}

.input-group {
    position: relative;
}

.input {
    border: none;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #FFFFFF;
}

.frame43 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.selected {
    display: flex;
    padding: 12px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: transparent;
    z-index: 1;
}

.lup,
.close {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.perfilContent {
    position: relative;
    display: inline-block;
}

.perfil-modal {
    width: 248px;
    height: 474px;
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid var(--Border, #353843);
    background: var(--neutral-700, #101116);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
    list-style: none;
    text-align: left;
    align-items: center;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 30px;
    z-index: 999;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 15px;
}

.buttons button,
.addPerfil0 {
    display: flex;
    align-items: center;
}

.Perfil1,
.Perfil2 {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.addPerfil0 {
    display: flex;
    background-color: transparent;
    padding-left: 5px;

}

.addPerfil0 p {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.addPerfil {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.edit {
    display: flex;
    color: #FFFFFF;
    padding: 10px;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .image_header {
        
    }
    .frame60 {
        display: flex;
        flex-direction: column;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .vector {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 40px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .frame44 {
        order:0;
    }

    .modalContent {
        display: flex;
        padding: 12px 16px;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        row-gap: 16px;
        flex: 1 0 0;
        flex-wrap: wrap;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.12);
        background: var(--neutral-700, #101116);
    }

    .input-group {
        position: relative;
    }

    .input {
        border: none;
        border-radius: 1rem;
        background: none;
        padding: 1rem;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .frame43 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }

    .selected {
        display: flex;
        padding: 12px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.12);
        background: transparent;
        z-index: 1;
    }



}