.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.title{
    font-size: 2.5rem;
    font-weight: 700;
}

.description{
    max-width: 56%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: white;
}


@media (max-width: 810px) {
    .details{
        max-width: 100%;
    }

    .description{
        max-width: 90%;
    }
}