@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

.footer {
    display: flex;
    background: #090B13;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #FFF;
}

.image_footer {
    width: 200px;
    height: 68.456px;
    flex-shrink: 0;
    padding: 34px;
}

.frame6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.frame6 p {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.frame7 {

    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.frame7 p {
    max-width: 443px;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .footer {
        width: auto;
        height: auto;
        
    }

    .image_footer {

        width: auto;
        height: auto;
        padding: 20px;
    }

    .frame6 {
        width: 398px;
        padding: 0;
    }

    .frame6 p {
        display: flex;        
        flex-direction: row;
    }

    .frame7 {
        width: 100%;
    }
}