.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.circlesButtons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (max-width: 810px) {
    .buttons{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2vw;
    }

    .circlesButtons{
        align-items: flex-start;
        padding-left: 2vw;
    }


}